<?xml version="1.0" encoding="utf-8"?>
<widget id="com.html.app" version="1.0.0" android-versionCode="1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>oji  yes</name>
    <description>App built with APK Forge</description>
    <author email="builder@apk-forge" href="https://github.com/sandikyojisaputra-tech">APK Forge</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="StatusBarBackgroundColor" value="#0a0e14" />
    <preference name="NavigationBarBackgroundColor" value="#0a0e14" />
    <preference name="android-minSdkVersion" value="24" />
    <preference name="android-targetSdkVersion" value="33" />
    <preference name="Orientation" value="default" />
    
    <platform name="android">
        <icon density="ldpi" src="res/icon/android-ldpi.png" />
        <icon density="mdpi" src="res/icon/android-mdpi.png" />
        <icon density="hdpi" src="res/icon/android-hdpi.png" />
        <icon density="xhdpi" src="res/icon/android-xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android-xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/android-xxxhdpi.png" />
    </platform>
    
    <platform name="android">
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#000000" />
        <preference name="FadeSplashScreen" value="true" />
        <preference name="FadeSplashScreenDuration" value="500" />
    </platform>
    
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.VIBRATE" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        </config-file>
    </platform>
</widget>